.userContainer,
.addUserContainer {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    /* border-top: 5px solid #03045E; */

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media (max-width:743px) {
    .addUserInputContainer{
        flex-direction: column;
    }
    
}